
<h1>Hot Stacks</h1>

<br>

<%= link_to 'New Stack', new_stack_path %>

<br>


<% @field.each do |field| %>
<%= field.type_name %>
<% end %>
<% @stack_trends.each do |trend|%>
        <%= trend.stack_name if trend.type_id == "0" %>
<% end %>
