<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5">게시판</h4>
         <p class="text-muted col-md-6 text-center mx-auto">게시글 편집</p>
       </div>
    </div>
  </div>
</header>
<br>
<div class="container">
  <%= render 'form' %>

  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
</div>
