<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5">원하는 분야의 스택 확인</h4>
         <p class="text-muted col-md-6 text-center mx-auto">다양한 서비스의 기술 스택을 확인하세요</p>
       </div>
    </div>
  </div>
</header>
<br>
<div class="example col-md-10 ml-auto mr-auto">
  <div class="row">
  <% @company_fields.each_with_index do |field, index| %>
  <div class="color-wrapper col-lg-4 col-md-4 col-sm-6">
      <div class="color">
          <div class="swatch"><img src='<%=asset_path "#{field.name}.png"%>' style="max-width: 100%; width: 50px;"></div>
          <span class="title"><a href="<%=company_field_path(field)%>"><%=field.name%></a></span>
      </div>
  </div>
  <% end %>
</div>
</div>
<br>


<style>
  body {
    background: #f9f9f9;
    text-align: center;
  }
  #b_form {
    text-align: center;
  }

</style>
