<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5">원하는 분야의 스택 사용 확인</h4>
         <p class="text-muted col-md-6 text-center mx-auto">해당 서비스가 사용중인 스택을 확인해보세요</p>
       </div>
    </div>
  </div>
</header>
<br>
<div id="b_form">
  <% c_field_list = ["Social media/Communication","Edu Tech","Utility","Fintech","Game",
  "E-Commerce","Foodtech","Contents","Healthcare","Ad/Marketing","IoT","Analytics","Sharing Economy"] %>
  <% @company_fields.each_with_index do |field, index| %>
  <div>
      <p><%= field.name%></p>
      <% @companies.each do |c| %>
        <% if c.company_field_id == (index+1) %>
          <%= link_to "<button type='button' class='btn btn-outline-primary btn-pill'>#{c.name}</button>".html_safe, detail_company_path(c.id), method: :get %>
          <%#= c.name%>
        <% end %>
      <% end %>
      <br><br>
    <% end %>
  </div>
</div>
<p></p>
<p></p>
</div>
<style>
  #b_form {
    text-align: center;
  }
</style>
