<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5">원하는 분야의 스택 확인</h4>
         <p class="text-muted col-md-6 text-center mx-auto">다양한 서비스의 기술 스택을 확인하세요</p>
       </div>
    </div>
  </div>
</header>
<br>
<div class="col-md-10 ml-auto mr-auto">
  <div class="row">
    <% @company_fields.each_with_index do |field, index| %>
      <div class="card card-1 col-lg-4 col-md-4 col-sm-6">
              <div class="swatch"><img src='<%=asset_path "#{field.name}.png"%>' style="max-width: 100%; width: 50px;"></div>
              <span class="title"><a href="<%=company_field_path(field)%>"><%=field.name%></a></span>
      </div>
    <% end %>
  </div>
</div>
<br>


<style>
  body {
    background: #f9f9f9;
    text-align: center;
  }

  .card {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
  }

  .card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
</style>
