<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5"><%= @company_field.name%></h4>
         <p class="text-muted col-md-6 text-center mx-auto">다양한 서비스의 기술 스택을 확인하세요</p>
       </div>
    </div>
  </div>
</header>
<br>
<div id="b_form">
  <div>
      <% @companies.each do |c| %>
          <%= link_to "<img src='#{c.logo_url}' width=100 id=logo_img>".html_safe, detail_company_path(c.id), method: :get %>
      <% end %>
      <br><br>
  </div>
</div>
<p></p>
<p></p>
</div>
<style>
  #b_form {
    text-align: center;
  }
  a #logo_img{
    -webkit-filter: grayscale(100%);
    filter: gray;
    padding: 10px;
  }
  a:hover #logo_img{
    -webkit-filter: grayscale(0%);
    filter: none;
  }
</style>
