<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5"><%= @company_field.name%></h4>
         <p class="text-muted col-md-6 text-center mx-auto">다양한 서비스의 기술 스택을 확인하세요</p>
       </div>
    </div>
  </div>
</header>
<br>
<div id="b_form">
  <div>
      <% @companies.each do |c| %>
          <%= link_to "<img src='#{c.logo_url}' width=120 id=logo_img><span>#{c.name}</span>".html_safe, detail_company_path(c.id), method: :get, class: "tooltips"%>
      <% end %>
      <br><br>
  </div>
</div>
<p></p>
<p></p>
</div>
<style>
  #b_form {
    text-align: center;
  }
  a #logo_img{
    -webkit-filter: grayscale(100%);
    filter: gray;
    padding: 15px;
  }
  a:hover #logo_img{
    -webkit-filter: grayscale(0%);
    filter: none;
  }
  a.tooltips {
	position: relative;
	display: inline;
}
a.tooltips span {
	position: absolute;
	width: 140px;
	color: #FFFFFF;
	background: #000000;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: none;
	border-radius: 6px;
}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltips span {
	display: block;
	opacity: 0.8;
	bottom: 30px;
	left: 50%;
	margin-left: -76px;
	z-index: 999;
}

</style>
